
<br><br>
<footer class="text-center text-white container-fluid py-3" style="background-color:#07527e;width:100%;bottom: 0; margin-top: auto;">
  <div class="row">
    <div class="col-lg-5" align="left" style="padding-left: 5%;">
      <h5 class="text-uppercase"><b style="color:rgb(255, 231, 10);">About Daily Journal</b></h5>
      <p style="padding-right:3%;color:white;">
        Daily Journal is one such platform where one can share their day-to-day experiences.
        We ensure to promote a healthy environment and help our users stay strong and motivated.
        All you have to do is get started and start writing yours!
      </p>
    </div>
    <div class="col-lg-3" align="left" style="padding-left: 5%;">
      <h5 class="text-uppercase"><b style="color:rgb(255, 231, 10);">Quick Links</b></h5>
      <ul class="list-unstyled mb-0" >
        <li>
          <a href="#!" style="color:white;"><i class="fa fa-award"></i>Careers</a>
        </li>
        <li>
          <a href="#!" style="color:white;"><i class="fa fa-lock"></i> Privacy Policy</a>
        </li>
        <li>
          <a href="/contact" style="color:white;"><i class="fa fa-info"></i> Terms & Conditions</a>
        </li>
        <li>
          <a href="/contact" style="color:white;"><i class="fa fa-phone"></i> Contact Us</a>
        </li>
      </ul>
    </div>
    <div class="col-lg-4" align="left" style="padding-left: 5%;">
      <h5 class="text-uppercase mb-0" ><b style="color:rgb(255, 231, 10);">Address</b></h5>
      <ul class="list-unstyled">
        <li>
          <a href="#!" style="color:white;"><i class="fa fa-home"></i> Some place, New York, NY 56776</a>
        </li>
        <li>
          <a href="#!" style="color:white;"><i class="fa fa-flag"></i> USA</a>
        </li>
        <li>
          <a href="#!" style="color:white;"><i class="fa fa-envelope"></i> alphavio16@gmail.com</a>
        </li>
        <li>
          <a href="#!" style="color:white;"><i class="fa fa-phone"></i> 1234567890</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row px-md-5" style="background-color:rgb(14, 50, 80);">
    <div class="col-md-6">
      <ul class="list-unstyled list-inline d-flex" style="margin-top:2%;">
        <li>
          <a href="#!"><i class="fab fa-facebook" style="color:#7ca1f3;font-size: 2rem;margin-right:1em"></i></a>
        </li>
        <li>
          <a href="#!"><i class="fab fa-instagram" style="color:#fbad50;font-size: 2rem;margin-right:1em"></i></a>
        </li>
        <li>
          <a href="#!"><i class="fab fa-linkedin" style="color:#0e89a8;font-size: 2rem;margin-right:1em"></i></a>
        </li>
        <li>
          <a href="#!"><i class="fab fa-youtube" style="color:#FF0000;font-size: 2rem;margin-right:1em"></i></a>
        </li>
        <li>
          <a href="#!"><i class="fab fa-twitter" style="color:#00abee;font-size: 2rem;"></i></a>
        </li>
      </ul>
    </div>
    <div class="col-md-6" style="margin-top:1%;">
      <ul class="list-unstyled list-inline"><li style="color:white;">Copyright &copy; <script>document.write(new Date().getFullYear())</script>. All rights reserved.</li></ul>
    </div>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
<script SameSite="None; Secure" src="https://static.landbot.io/landbot-3/landbot-3.0.0.js"></script>
<script>
  var myLandbot = new Landbot.Livechat({
    configUrl: 'https://chats.landbot.io/v3/H-812017-18RWUI6DKMDDS0XR/index.json',
  });
</script>
<script>
  const options = {
  bottom: '1%', // default: '32px'
  right: 'unset', // default: '32px'
  left: '5%', // default: 'unset'
  time: '0.5s', // default: '0.3s'
  mixColor: '#fff', // default: '#fff'
  backgroundColor: '#fff',  // default: '#fff'
  buttonColorDark: '#100f2c',  // default: '#100f2c'
  buttonColorLight: '#fff', // default: '#fff'
  saveInCookies: true, // default: true,
  label: '🌗', // default: ''
  autoMatchOsTheme: true // default: true
}

const darkmode = new Darkmode(options);
darkmode.showWidget();
</script>
 <script type="text/javascript" src="/loader.js"></script>
</body>
</html>