
<br><br>
<footer class="text-center text-white container-fluid pt-3 pb-0 mt-auto bottom-0 footer-bg">
  <div class="row">
    <div class="col-lg-5 pl-5-per" align="left">
      <h5 class="text-uppercase"><b class="footer-heading">About WordNook</b></h5>
      <p class="text-white pr-3-per">
        WordNook is one such platform where one can share their day-to-day experiences.
        We ensure to promote a healthy environment and help our users stay strong and motivated.
        All you have to do is get started and start writing yours!
      </p>
    </div>
    <div class="col-lg-3 pl-5-per" align="left">
      <h5 class="text-uppercase"><b class="footer-heading">Quick Links</b></h5>
      <ul class="list-unstyled mb-0" >
        <li class="footerlinks">
          <a href="#!" class="text-white" ><i class="fa fa-award"></i>Careers</a>
        </li>
        <li class="footerlinks">
          <a href="#!" class="text-white" ><i class="fa fa-lock"></i> Privacy Policy</a>
        </li>
        <li class="footerlinks">
          <a href="#!" class="text-white" ><i class="fa fa-info"></i> Terms & Conditions</a>
        </li>
        <li class="footerlinks">
          <a href="/contact" class="text-white" ><i class="fa fa-phone"></i> Contact Us</a>
        </li>
      </ul>
    </div>
    <div class="col-lg-4 pl-5-per" align="left">
      <h5 class="text-uppercase mb-0" ><b class="footer-heading">Address</b></h5>
      <ul class="list-unstyled">
        <li class="footerlinks">
          <a href="#!"  class="text-white"><i class="fa fa-home"></i> Some place, New York, NY 56776</a>
        </li>
        <li class="footerlinks">
          <a href="#!" class="text-white"><i class="fa fa-flag"></i> USA</a>
        </li>
        <li class="footerlinks">
          <a href="#!" class="text-white"><i class="fa fa-envelope"></i> alphavio16@gmail.com</a>
        </li>
        <li class="footerlinks">
          <a href="#!" class="text-white"><i class="fa fa-phone"></i> 1234567890</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row px-md-5 align-items-center footer-bg-dark">
    <div class="col-md-6">
      <ul class="list-unstyled list-inline d-flex mt-3">
        <li>
          <a href="#!"><i class="fab fa-facebook social-icon facebook"></i></a>
        </li>
        <li>
          <a href="#!"><i class="fab fa-instagram social-icon instagram"></i></a>
        </li>
        <li>
          <a href="#!"><i class="fab fa-linkedin social-icon linkedin"></i></a>
        </li>
        <li>
          <a href="#!"><i class="fab fa-youtube social-icon youtube"></i></a>
        </li>
        <li>
          <a href="#!"><i class="fab fa-twitter social-icon twitter"></i></a>
        </li>
      </ul>
    </div>
    <div class="col-md-6 mt-3">
      <ul class="list-unstyled list-inline"><li class="text-white">Copyright &copy; <script>document.write(new Date().getFullYear())</script>. All rights reserved.</li></ul>
    </div>
  </div>
  <a id="back-to-top" href="#" class="btn btn-light btn-lg back-to-top" role="button"><i class="fas fa-chevron-up"></i></a>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
<script SameSite="None; Secure" src="https://static.landbot.io/landbot-3/landbot-3.0.0.js"></script>
<script type="text/javascript" src="/js/autoScrollUp.js"></script>
<script type="text/javascript" src="/js/landBot.js"></script>
<script type="text/javascript" src="/js/darkMode.js"></script> 
 <script type="text/javascript" src="/js/loader.js"></script>
</body>
</html>
