<!DOCTYPE html>
<html lang="en" dir="ltr">
  <style>
    @media only screen and (min-width:722px) {
      body {
        margin-top: 6vh !important;
      }
    }
    @media only screen and (min-width: 1349px) {
      body {
        margin-top: 11vh !important;
      }
    }
    @media only screen and (min-width: 686px) {
      body {
        margin-top: 6vh !important;
      }
    }
    @media only screen and (min-width: 470px) {
      body {
        margin-top: 6vh !important;
      }
    }
    @media only screen and (min-width: 280px) {
      body {
        margin-top: 6vh !important;
      }
    }
  
  </style>


<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" href="/images/favicon.ico">
  <script src="https://kit.fontawesome.com/7a2242c499.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <nav id="nav-id" class="navbar navbar-default darkmode--activated navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">DAILY <span class="navbar-brand-bold">JOURNAL</span></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/">HOME</a></li>
          <li id="about"><a href="/about">ABOUT</a></li>
          <li id="contact"><a href="/contact">CONTACT US</a></li>
          <% if(isAuthenticated) { %>
            <li id="log-out">
              <form action="/log-out" method="post">
                <button class="btn btn-primary" type="submit" name="log-out">Log out</button>
              </form>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>

  <body class="darkmode--activated">
    <div id="loader" class="pre"></div>
    <div class="container">