<div class="complete">
    <div id="demo" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        <!-- The slideshow -->
        <% var isFirst=true; %>
            <div class="carousel-inner">
                <div class="testimonials-clean">
                    <div class="container">
                        <div class="intro">
                            <h2 class="text-center text-uppercase">Here's what our users have to say.</h2>
                            <p class="text-center text-decoration-underline fs-5">Want to share your experience? Write a testimonial and spread the word.</p>
                        </div>
                        <% for(let j=0;j<=6;j=j+3) { %>
                            <div class="carousel-item <%= isFirst?'active':'' %> ">
                                <div class="carousel-inner">
                                    <div class="row people">
                                        <% for (let i=j; i <j+3; i++ ) { %>
                                            <div class="col-md-6 col-lg-4 item">
                                                <div class="box">
                                                    <p class="description">
                                                        <%= testimonial[i].views %>
                                                    </p>
                                                </div>
                                                <div class="author"><img class="rounded-circle"
                                                        src="https://avatars.dicebear.com/api/male/<%= testimonial[i].author %>.svg?background=%23ffffff">
                                                    <h5 class="name">
                                                        <%= testimonial[i].author %>
                                                    </h5>
                                                </div>
                                            </div>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                            <!-- Left and right controls -->
                            <a class="carousel-control-prev control" href="#demo" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next control" href="#demo" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                            <% isFirst=false %>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <% if (isAuthenticated) { %>
                    <a href="/testimonial-wall#testimonial-write"><button class="button pen test-button">Write a testimonial</button></a>
                <% }else{ %>
                    <a href="/log-in"><button class="button pen test-button">Write a testimonial</button></a>
                <% } %> 
            </div>
    </div>
</div>