<%- include("../partials/header", {isAuthenticated}) -%>
<div class="container-centre content-body-font my-3">
    <h1 class="heading-centre heading-bold normal-heading-font">About</h1>

    <p> <%= aboutContent %> </p> 
    <p> WordNook is one such platform where one can share their day-to-day experiences. We ensure to promote a healthy environment and help our users stay strong and motivated. From a food journal to a dream journal, you can express thoughts, share ideas and capture your interests. All you have to do is get started and start writing yours!</p>
</div>
<%- include("../partials/footer") -%>