<%- include("partials/header", {isAuthenticated}) -%>
<div class="container-centre content-body-font">
    <img src="/images/404.png">
    <a href='https://www.freepik.com/vectors/website' class="d-none">Website vector created by stories - www.freepik.com</a>
</div>
<%- include("partials/footer") -%>