<%- include("partials/header", {isAuthenticated}) -%>

<div class="container-centre">
    <h1 class="heading-centre heading-bold normal-heading-font">Compose</h1>
    <form action="/compose" method="POST">
        <div class="form-group">
            <label>Title</label>
            <input class="form-control" type="text" name="postTitle" autocomplete="off" required></input>
        </div>
        <div class="form-group">
            <label>Post</label>
            <textarea class="form-control" type="text" name="postBody" rows="3" autocomplete="off" required></textarea>
        </div>
        <button class="button publish" type="submit" name="publish">Publish</button>
    </form>
</div>

<%- include("partials/footer") -%>
