<%- include("partials/header") -%>

<h1>Compose</h1>

<form action="/">
    <input type="text" name="">
    <button type="submit" name="button">Publish</button>
</form>

<%- include("partials/footer") -%>