<%- include("partials/header", {isAuthenticated}) -%>

<div class="container-centre content-body-font">
    <h1 class="heading-centre heading-bold normal-heading-font">Contact Us</h1>
    <p> <%= contactContent %> </p> 
    <p>Drop a message, we got it covered for you! </p>
    <i class="far fa-envelope fa-lg"><a href="mailto:aaradhyasharma218@gmail.com"> alphavio16@gmail.com </a></i>
</div>

<%- include("partials/footer") -%>
