<%- include("partials/header") -%>

<h1>Contact Us</h1>
<p style="font-size: 16px;"> <%= contactContent %> </p> 
<p style="font-size: 16px;">Drop a message, we got it covered for you! </p>
<i class="far fa-envelope fa-lg"><a href="mailto:aaradhyasharma218@gmail.com" style="font-size: 16px;"> aaradhyasharma218@gmail.com </a></i>


<%- include("partials/footer") -%>