/*font style: Quicksand*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

/*font style: Patua One*/

@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

/*font style: Open Sans*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');
:root {
	/*aesthetic theme*/
	--color-primary: #0d97ac;
	--color-secondary: #e2532f;
	--color-tertiary: #dda033;
	--color-danger: #ff0000;
	--color-side: #065125;
	--color-text: #e5e7eb;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100vh;
	background-size: cover;
	font-family: 'Quicksand', sans-serif;
	opacity: 1;
	display: flex;
	flex-direction: column;
	background-image: url('../images/bg4.jpg');
	background-size: cover;
	color: var(--color-primary);
	scroll-behavior: smooth;
}

#loader {
	position: fixed;
	width: 100%;
	height: 90vh;
	z-index: 1;
	overflow: visible;
	background: var(--color-primary)
		url('https://i.pinimg.com/originals/34/cc/62/34cc62d1df1c8328f56ae7a7acf2e83a.gif')
		no-repeat center center;
}

.container-fluid {
	padding-top: 10vh;
	padding-bottom: 10vh;
}

.container-centre {
	margin: auto;
	max-width: 65vw;
}

/* styles for navbar */

.navbar {
	padding-top: 1vh;
	border: 0;
	border-radius: 0;
	margin-bottom: 0;
	font-size: 1.5rem;
	letter-spacing: 0.125rem;
	background-color: var(--color-text) !important;
	backdrop-filter: blur(10px);
}
/* -------------------------------------------------- */

@media screen and (max-width: 800px) {
	#logo {
		max-height: 2.25rem;
		max-width: 2rem;
		margin-right: 0.25rem;
	}
	.navbar-brand {
		margin-right: 35vw;
	}
}

.navbar-brand {
	font-size: 3.5vw;
	color: var(--color-secondary) !important;
}

.navbar-brand:hover {
	font-size: 3.5vw;
	color: var(--color-primary) !important;
}

.navbar-brand a {
	text-decoration: none;
	color: inherit;
}

.navbar-brand-bold {
	font-weight: 600;
}

.navbar-right {
	margin: 0;
	padding-top: 3vh;
}

.nav-link {
	font-weight: 600;
	font-size: 18px;
	color: var(--color-primary);
}
.nav-link:hover {
	color: var(--color-secondary) !important;
	background-color: var(--color-text);
}

.btn {
	margin: 6px;
}
/* ---------------------------------------------------- */
/* navbar links */

.logout {
	margin-bottom: 3px;
	background-color: var(--color-primary);
}

.logout:hover {
	background-color: var(--color-text);
	border: solid 0.5px var(--color-secondary) !important;
	border-radius: 4px;
	color: var(--color-secondary);
}
/* ---------------------------------------------------- */
/*navbar animation*/

.navbar-right a::before,
a::after {
	content: '';
	position: absolute;
	width: 0%;
	height: 0.3vh;
	bottom: -0.14vh;
	background: var(--color-text);
}

.navbar-right a::before {
	left: 0;
}

.navbar-right a::after {
	right: 0;
	background: var(--color-secondary);
	transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.navbar-right a:hover::before {
	background: var(--color-secondary);
	width: 100%;
	transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.navbar-right a:hover::after {
	background: transparent;
	width: 100%;
	transition: 0s;
}
/* ---------------------------------------------------------------- */
/* login page styles */

.log-in-btn {
	color: var(--color-text);
	background-color: var(--color-secondary);
	border: solid 1px var(--color-secondary);
}

.log-in-btn:hover {
	border: solid 1px var(--color-secondary);
	color: var(--color-secondary) !important;
	background-color: whitesmoke;
}
.form-group {
	position: relative;
}

.password-icon {
	position: absolute;
	top: 70%;
	right: 0.938rem;
	transform: translate(0, -50%);
	cursor: pointer;
	font-size: 1.25rem;
	background: none;
}

/* ------------------------------------------------------- */
/* sign up page styles */

.sign-up-place {
	color: var(--color-secondary);
}
/* ------------------------------------------------------- */
/* text styles */

.heading-bold {
	font-weight: bold;
}

.normal-heading-font {
	font-family: 'Open Sans', sans-serif;
	margin-top: 3rem;
}

.heading {
	padding-top: 1.5rem;
}

.heading-centre {
	text-align: center;
	padding: 1rem;
}

.content-body-font {
	font-size: 1.3rem;
}

.f-size-22px {
	font-size: 22px;
}

.f-size-2-4rem {
	font-size: 2.4rem;
}

.fweight-600 {
	font-weight: 600;
}
/* --------------------------------------------------------------- */
/* Home page styles */

.anynew,
.anylook {
	margin-top: 25px;
}

.posts-section {
	margin-top: 1.4vh;
	margin-bottom: 2.8vh;
}

.post-preview-font {
	font-size: 1rem;
}

.post-content-font {
	font-size: 1.1rem;
}

.post-preview {
	background-color: rgba(229, 231, 235, 0.5);
	/* margin: 0.8rem; */
	padding: 1.9rem;
	border-radius: 1rem;
}

.post-date-font {
	font-size: 0.9rem;
}

.post-margin {
	margin-bottom: 4.1vh;
}

.qty {
	font-weight: bold;
	font-size: 1.4rem;
}

.min-w-10em {
	min-width: 10em;
}
/* ------------------------------------------------------------- */
/* Post page styles */

.post-heading {
	font-family: 'Patua One', cursive;
	font-size: 3.4rem;
}

.comment {
	border: 0.13rem solid rgb(223, 220, 220);
	border-radius: 0.4rem;
	padding: 1.3rem;
	margin-bottom: 1.3rem;
	box-shadow: 0rem 0rem 0.07rem 0rem;
}
/* ------------------------------------------------------------ */
/* Input boxes and placeholder text styles */

.form-control {
	width: 100%;
	border: 2px solid var(--color-secondary);
	height: 50px;
	border-radius: 8px;
}

.form-control::-webkit-input-placeholder {
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	font-weight: normal;
}

.form-control:-ms-input-placeholder {
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	font-weight: normal;
}

.form-control:-moz-placeholder {
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	font-weight: normal;
}

.form-control::-ms-input-placeholder {
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	font-weight: normal;
}

.form-control::-moz-placeholder {
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	font-weight: normal;
}

.quantityForm {
	margin-top: 1.3rem;
}

.darkmode-layer,
.darkmode-toggle {
	z-index: 500;
	outline: none;
}

.darkmode--activated #nav-id {
	background-color: var(--color-text) !important;
}

.orderForms {
	align-items: center;
	justify-content: space-between;
}

.orderSelect {
	padding: 0.2rem 0.4rem 0.36rem 0.4rem;
	font-family: 'Open Sans', sans-serif;
	font-size: 130%;
	border: 2px solid var(--color-secondary);
	border-radius: 8px;
}

input[name='perPage'] {
	border: 2px solid var(--color-secondary);
	border-radius: 8px;
	font-family: 'Open Sans', sans-serif;
	font-size: 110%;
	text-align: center;
	padding-bottom: 0.3rem;
	padding-top: 0.13rem;
}

.search-form {
	display: flex;
	width: 100%;
}

.search-btn,
.filter-btn {
	margin-left: 0.7rem;
	font-weight: 800;
	border: 0rem;
	transition: all 1.5s;
	background-color: var(--color-secondary) !important;
}

.search-btn:hover,
.filter-btn:hover,
.compose-btn:hover {
	background-color: var(--color-primary);
}

.search-btn:hover span:after {
	opacity: 1;
	right: 0;
}

.compose-btn {
	background-color: var(--color-primary);
	transition: all 1.5s;
	border: 0rem;
	font-weight: 800;
}

.compose-form {
	padding-top: 5%;
	padding-bottom: 5%;
	padding-right: 3%;
	padding-left: 3%;
	border-radius: 2rem;
	background-color: #f2f6f8;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.compose-status,
.compose-category,
.compose-post,
.compose-title,
.compose-file {
	font-weight: bold;
	font-size: larger;
}

.block {
	display: block;
	width: 100%;
	border: none;
	background-color: var(--color-primary);
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
}

.hEBnKS {
	z-index: 1;
	right: 1rem !important;
	bottom: 0rem !important;
	position: absolute !important;
	width: 3.8rem !important;
	height: 3.2rem !important;
}
/* ------------------------------------------------------- */
/* Button Styles */

.button {
	display: inline-block;
	font-family: 'Montserrat', 'Trebuchet MS', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	position: relative;
	padding: 0.4em 1.4em;
	padding-right: 3.7em;
	background: var(--color-secondary);
	border: none;
	color: white;
	transition: 0.2s;
	border: 3px solid white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:before,
.button:after {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	padding-top: inherit;
	padding-bottom: inherit;
	width: 2.8em;
	content: '\00a0';
	font-family: 'FontAwesome', sans-serif;
	font-size: 1.2em;
	text-align: center;
	transition: 0.2s;
	transform-origin: 50% 60%;
}

.button:before {
	background: rgba(0, 0, 0, 0.1);
}

.button:hover {
	background: #129fb4;
}

.button:active,
.button:focus {
	background: var(--color-primary);
	outline: none;
}

.button {
	min-width: 15em;
}

.button-cancel {
	background-color: var(--color-danger) !important;
	color: white;
	text-align: center;
}
.button-cancel:hover {
	background: var(--color-danger) !important;
}

.test-wall-btn {
	left: 80%;
	margin-top: 2rem;
	padding-right: 1rem;
	padding-left: 1rem;
	min-width: 10em;
}

.test-wall-btn:before,
.test-wall-btn:after {
	width: 0rem;
}

@media (max-width: 650px) {
	.test-wall-btn {
		left: 65%;
	}
}

@media (max-width: 480px) {
	.test-wall-btn {
		left: 50%;
	}
}

.btnFrame {
	background: var(--color-primary);
}
.btnFrame:hover {
	background: #e75d3b;
	color: white;
}
.f-btn {
	font-family: 'Montserrat', 'Trebuchet MS', Helvetica, sans-serif;
	color: white;
	transition: 0.2s;
	border: 0.1875rem solid white;
	box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.5),
		0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
}

.btnFrame:active,
.btnFrame:focus {
	background: var(--color-secondary);
}

.likebtn:after {
	content: '\F164';
}

.arrow:after {
	content: '\F054';
}

.arrow:hover:after {
	-webkit-animation: bounceright 0.3s alternate ease infinite;
	animation: bounceright 0.3s alternate ease infinite;
}

.del {
	background: var(--color-secondary);
	margin-left: 5px;
}

.del:hover {
	background: #eb390d;
}

.del:active,
.del:focus {
	background: var(--color-secondary);
}

.del:after {
	content: '\F1F8';
}

.del:hover:after {
	-webkit-animation: wiggle 0.15s alternate ease infinite;
	animation: wiggle 0.15s alternate ease infinite;
}

.edit:after {
	content: '\F044';
}

.pen:after {
	content: '\F304';
}

.pen:hover:after {
	-webkit-animation: none;
	-webkit-transform: rotate(20deg);
	animation: none;
	transform: rotate(-45deg);
	text-indent: 0.1em;
}

.read {
	background: var(--color-secondary);
	color: var(--color-text);
}

.read:hover {
	background: #129fb4;
}

.read:active,
.read:focus {
	background: var(--color-primary);
}

.read:after {
	content: '\F4D5';
}

.read:hover:after {
	-webkit-animation: none;
	-webkit-transform: scale(1.4);
	animation: none;
	transform: scale(1.4);
}

.search:after {
	content: '\f002';
}

.search:hover:after {
	-webkit-animation: none;
	-webkit-transform: scale(1.4);
	animation: none;
	transform: scale(1.4);
}

.commenting {
	background: var(--color-secondary);
}

.commenting:hover {
	background: #129fb4;
}

.commenting:active,
.commenting:focus {
	background: var(--color-primary);
}

.commenting:after {
	content: '\F075';
}

.commenting:hover:after {
	-webkit-animation: none;
	-webkit-transform: rotate(360deg);
	animation: none;
	transform: rotate(360deg);
	text-indent: 0.1em;
}

.publish {
	background: var(--color-secondary);
}

.publish:hover {
	background: var(--color-primary);
}

.publish:active,
.publish:focus {
	background: var(--color-primary);
}

.publish:after {
	content: '\F064';
}

.publish:hover:after {
	-webkit-animation: none;
	-webkit-transform: rotate(360deg);
	animation: none;
	transform: rotate(360deg);
	text-indent: 0.1em;
}

.pagebtn {
	min-width: 10em;
	padding-bottom: 0.2rem;
	padding-top: 0.4rem;
}
.content.like-active {
	background-color: #e2532f;
}
.like:before {
	color: black;
	content: 'Like';
}
.like.like-active:before {
	color: white;
	content: 'Liked';
}
/*----------------------------------------------------*/
/* footer styles */

.footer-class {
	background-color: var(--color-text);
	color: var(--color-primary) !important;
}

.footer-txt {
	color: var(--color-secondary);
}
.list-unstyled {
	margin: 0px;
}

.difference-fix {
	mix-blend-mode: difference !important;
}

.footer-bg {
	background-color: #07527e;
}

.pl-5-per {
	padding-left: 5%;
}

.pr-3-per {
	padding-right: 3%;
}

.footer-bg-dark {
	background-color: rgb(14, 50, 80);
}

.footer-heading {
	color: rgb(255, 231, 10);
}

.footerlinks > a {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.4);
	margin: 0;
	padding: 0;
	border: 0 none;
	position: relative;
	outline: none;
}

.footerlinks > a:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 3px;
	bottom: 0;
	left: 0;
	background: #d5ddeb;
	visibility: hidden;
	border-radius: 5px;
	transform: scaleX(0);
	transition: 0.25s linear;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.footerlinks > a:hover:before {
	visibility: visible;
	transform: scaleX(1);
}
.rounded-social-buttons {
	text-align: center;
}
.rounded-social-buttons .social-button {
	display: inline-block;
	position: relative;
	cursor: pointer;
	width: 3.125rem;
	height: 3.125rem;
	border: 2px solid transparent;
	padding: 0;
	text-decoration: none;
	text-align: center;
	color: #fefefe;
	font-size: 135%;
	font-weight: normal;
	line-height: 2em;
	border-radius: 27px;
	transition: all 0.5s ease;
	margin-right: 1%;
	margin-bottom: 0%;
}
.rounded-social-buttons .social-button:hover {
	-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
	transition: all 0.2s ease-in-out;
}
.rounded-social-buttons .fa-twitter,
.fa-facebook,
.fa-linkedin,
.fa-youtube,
.fa-instagram {
	margin-top: 13%;
	font-size: 114%;
}
.rounded-social-buttons .social-button.facebook {
	background: #3b5998;
}
.rounded-social-buttons .social-button.facebook:hover,
.rounded-social-buttons .social-button.facebook:focus {
	color: #3b5998;
	background: #fefefe;
	border-color: #3b5998;
}
.rounded-social-buttons .social-button.twitter {
	background: #55acee;
}
.rounded-social-buttons .social-button.twitter:hover,
.rounded-social-buttons .social-button.twitter:focus {
	color: #55acee;
	background: #fefefe;
	border-color: #55acee;
}
.rounded-social-buttons .social-button.linkedin {
	background: #007bb5;
}
.rounded-social-buttons .social-button.linkedin:hover,
.rounded-social-buttons .social-button.linkedin:focus {
	color: #007bb5;
	background: #fefefe;
	border-color: #007bb5;
}
.rounded-social-buttons .social-button.youtube {
	background: #bb0000;
}
.rounded-social-buttons .social-button.youtube:hover,
.rounded-social-buttons .social-button.youtube:focus {
	color: #bb0000;
	background: #fefefe;
	border-color: #bb0000;
}
.rounded-social-buttons .social-button.instagram {
	background: linear-gradient(#405de6, #e1306c, #f77737, #fcaf45);
}
.rounded-social-buttons .social-button.instagram:hover,
.rounded-social-buttons .social-button.instagram:focus {
	color: #125688;
	background: #fefefe;
	border-color: #125688;
}

@media (max-width: 400px) {
	.rounded-social-buttons {
		margin-right: 2rem;
	}
	.rounded-social-buttons .social-button {
		width: 2.5rem;
		height: 2.5rem;
	}
	.rounded-social-buttons .fa-twitter,
	.fa-facebook,
	.fa-linkedin,
	.fa-youtube,
	.fa-instagram {
		font-size: 100%;
	}
}

/* ---------------------------------------------------- */

/* Custom ScrollBar */
/* For Chrome and Safari */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	width: 0px;
	border-radius: 0px;
	background: transparent;
}

::-webkit-scrollbar-thumb {
	width: 10px;
	border-radius: 5px;
	background-color: #129fb4;
	background-image: -webkit-linear-gradient(
		45deg,
		#e2532f 20%,
		transparent 20%,
		transparent 40%,
		#e2532f 40%,
		#e2532f 60%,
		transparent 60%,
		transparent 80%,
		#e2532f 80%
	);
}

::-webkit-scrollbar-thumb:hover {
	transition: all 0.1s ease-in-out;
	filter: blur(20px);
}
/* For Firefox */
:root {
	overflow-y: scroll;
	scrollbar-color: #0fadc5 rgb(255, 255, 255);
	scrollbar-width: thin;
}

/* -------------------------------------------- */
/* Scroll To Top Button */

.back-to-top {
	background: transparent;
	position: fixed;
	bottom: 5.5rem;
	right: 2%;
	color: #fff !important;
	border: 2px solid;
	background-color: var(--color-primary);
	transition: all 0.5s ease-in-out;
	z-index: 9999;
}

.back-to-top:hover,
.back-to-top:focus {
	background-color: var(--color-secondary);
	border-radius: 5em;
}

/* Flag button */
.btn-flag {
	color: white;
	background: var(--color-secondary);
}

.primary-font {
	color: var(--color-primary);
}

/* Profile Image Style */

.profile-img {
	height: 25vh;
	border-radius: 10%;
}

.delete-img-btn {
	height: fit-content;
	margin-left: -2.5em;
	z-index: 1;
}
/* ---------------------------------------------------------------- */
/* testimonial page styles */
.testimonials-clean {
	color: #313437;
}

.testimonials-clean p {
	color: #7d8285;
}

.testimonials-clean h2 {
	font-weight: bold;
	margin-bottom: 2.5rem;
	padding-top: 2.5rem;
	color: inherit;
}

@media (max-width: 767px) {
	.testimonials-clean h2 {
		margin-bottom: 1.56rem;
		padding-top: 1.56rem;
		font-size: 1.5rem;
	}
}

.testimonials-clean .intro {
	font-size: 1rem;
	max-width: 31.25rem;
	margin: 0 auto;
}

.testimonials-clean .intro p {
	margin-bottom: 0;
}

.testimonials-clean .people {
	padding: 3.125rem 0 1.25rem;
	display: flex;
	justify-content: center;
}

.testimonials-clean .item {
	margin-bottom: 2.125rem;
}

@media (min-width: 48px) {
	.testimonials-clean .item {
		height: 12.5rem;
	}
}

.testimonials-clean .item .box {
	padding: 1.875rem;
	background-color: #fff;
	position: relative;
}

.testimonials-clean .item .box:after {
	content: '';
	position: absolute;
	left: 1.875rem;
	bottom: -1.5rem;
	width: 0;
	height: 0;
	border: 0.938rem solid transparent;
	border-width: 0.75rem 0.938rem;
	border-top-color: #fff;
}

.testimonials-clean .item .author {
	margin-top: 1.75rem;
	padding-left: 1.563rem;
}

.testimonials-clean .item .name {
	font-weight: bold;
	margin-bottom: 0.125rem;
	color: inherit;
}

.testimonials-clean .item .title {
	font-size: 0.813rem;
	color: #9da9ae;
}

.testimonials-clean .item .description {
	font-size: 0.938rem;
	margin-bottom: 0;
}

.testimonials-clean .item img {
	width: 4rem;
	height: 4rem;
	float: left;
	margin-right: 0.75rem;
	margin-top: -0.313rem;
}

.testimonial-wall {
	padding: 3.125rem;
}

.testimonial-data {
	padding-top: 1.875rem;
}

.testimonial-data .description {
	font-size: 1.7rem;
	color: #766161;
}

.testimonial-add-heading {
	color: white;
}

.testimonial-write-div {
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.pos-testimonial-wall-btn1 {
	float: right;
}

.pos-testimonial-wall-btn2 {
	margin-left: 9.563rem;
	margin-right: 9.563rem;
}

.complete {
	background-color: #eef4f7;
}
.test-button {
	font-size: 1rem;
	margin-right: auto;
	font-weight: 400;
	margin-bottom: 6%;
	background-color: var(--color-primary);
	border-radius: 0.313rem solid white !important;
	color: white;
	background: var(--color-secondary);
}
@media only screen and (max-width: 1076px) {
	.test-button {
		margin-bottom: 12%;
	}
	.testimonials-clean .item .box {
		max-width: 70vw;
		margin-left: 12%;
	}
}
/* ----------------------------------------------------------- */
/* Share Feature Styles */
svg {
	width: 20px;
	height: 20px;
	margin-right: 7px;
}

.share-dialog {
	display: none;
	width: 95%;
	max-width: 500px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
	z-index: -1;
	border: 1px solid #ddd;
	padding: 20px;
	border-radius: 4px;
	background-color: #fff;
}

.share-dialog {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.share-dialog.is-open {
	display: block;
	z-index: 2;
}

.targets {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	margin-bottom: 20px;
}

.close-button {
	background-color: transparent;
	border: none;
	padding: 0;
}

.share-button:after {
	content: '\f14d';
}
/* ------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* testimonial indicator styling*/
.carousel-indicators li {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 15px;
	text-indent: 0;
	cursor: pointer;
	border: none;
	border-radius: 50%;
	background-color: var(--color-primary);
	box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.carousel-indicators .active {
	width: 16px;
	height: 16px;
	margin: 15px;
	background-color: var(--color-secondary);
}
.carousel-control-prev-icon {
	position: absolute;
	left: 10%;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%230d97ac' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
	position: absolute;
	right: 10%;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%230d97ac' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* contact  form  style  */

.container-form {
	max-width: 800px;
	width: 80%;
	margin: 0 auto;
	position: relative;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	border-radius: 10%;
}

#contact-form {
	padding: 5%;
	margin: 10% 0;
}

.styled-input {
	float: left;
	width: 60vw;
	margin: 1rem 0;
	position: relative;
	border-radius: 4px;
	border: 3px solid transparent !important;
}

.styled-input label {
	color: #999;
	padding: 0.5rem 30px 1rem 30px;
	position: absolute;
	top: 5%;
	left: 0;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
	pointer-events: none;
}

.styled-input.wide {
	width: 100%;
}

#contact-form input[type='email'],
#contact-form input[type='text'],
#contact-form textarea {
	width: 100%;
	border: 1px solid #ccc;
	background: #fff;
	margin: 0 0 5px;
	padding: 15px;
	background-color: #f2f6f8;
	box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
	border-radius: 2rem;
}

.send-btn {
	padding: 0.3em 0.3em;
	min-width: 10em;
	margin-left: 5%;
}
.alert-success {
	width: 80%;
	margin: 3% auto;
	box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
}

/* read-profile form form styling  */

.edit-form {
	padding: 5% 0;
	border-radius: 2rem;
	background-color: #f2f6f8;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.profile-file,
.profile-firstname,
.profile-lastname,
.profile-username,
.profile-email,
.profile-password,
.profile-photo {
	font-weight: bold;
	font-size: larger;
}

.password-info {
	margin-left: 3%;
	font-size: 130%;
	font-weight: bold;
}

#profile-info input[type='text'],
#profile-info input[type='password'],
#profile-info input[type='email'] {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
		rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.edit-profile {
	margin: auto;
	max-width: 75vw;
}

.personal-para {
	text-align: center;
}

.edit-btn {
	margin-left: 15%;
}
