/*font style: Quicksand*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');
/*font style: Patua One*/
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
/*font style: Open Sans*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  background-image: url("../images/back.png");
}
#loader {
  position: fixed;
  width: 100%;
  height: 90vh;
  z-index: 1;
  overflow: visible;
  background: #000000
    url("https://i.pinimg.com/originals/34/cc/62/34cc62d1df1c8328f56ae7a7acf2e83a.gif")
    no-repeat center center;
}
.container-fluid {
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.container-centre{
  margin: auto;
  max-width: 65vw;
}
.navbar {
  padding-top: 1vh;
  padding-bottom: 1vh;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  letter-spacing: 0.125rem;
}
.navbar-brand{
  font-size: 3.5vw;
}
.navbar-brand a{
  text-decoration: none;
  color: inherit;
}
.navbar-brand-bold{
  font-weight:600;
}
.navbar-right{
  margin: 0;
  padding-top:3vh;
}
.navbar-right li a{
  font-weight: bold;
  margin: 0.4rem 0.6rem 0.3rem 0.6rem;
  padding: 0.4rem 0.07rem 0.2rem 0.13rem;
}
.navbar-nav li a:hover {
  color: #1abc9c !important;
}
/*navbar animation*/
.navbar-right a::before,a::after{
  content:'';
  position:absolute;
  width:0%;
  height:0.3vh;
  bottom:-0.14vh;
  background: #414141;
}
.navbar-right a::before{
  left: 0;
}
.navbar-right a::after{
  right:0;
  background: #414141;
  transition: width 0.8s cubic-bezier(0.22,0.61,0.36,1);
}
.navbar-right a:hover::before{
  background: #414141;
  width:100%;
  transition: width 0.5s cubic-bezier(0.22,0.61,0.36,1);
}
.navbar-right a:hover::after{
  background: transparent;
  width:100%;
  transition: 0s;
}

.heading-bold{
  font-weight:bold;
}
.normal-heading-font{
  font-family: 'Open Sans', sans-serif;
}
.heading-centre{
  text-align: center;
  padding: 1rem;
}
.post-heading{
  font-family: 'Patua One', cursive;
  font-size: 3.4rem;
}
.content-body-font{
  font-size: 2rem;
}
.posts-section{
  margin-top: 1.4vh;
  margin-bottom: 2.8vh;
}
.post-preview-font{
  font-size: 1rem;
}
.post-preview{
  background-color: #E5E7EB;
  margin: 0.8rem;
  padding: 1.9rem;
  border-radius: 1rem;
}
.post-date-font{
  font-size: 1.1rem;
}
.post-margin{
  margin-bottom:4.1vh;
}

.myButton {
  box-shadow: inset 0rem 0.07rem 0rem 0rem #f29c93;
  background: linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
  background-color: #fe1a00;
  border-radius: 0.4rem;
  border: 0.07rem solid #d83526;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 0.4rem 1.2rem;
  text-decoration: none;
  text-shadow: 0rem 0.07rem 0rem #b23e35;
}
.myButton:hover {
  background: linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
  background-color: #ce0100;
}
.myButton:active {
  position: relative;
  top: 0.07rem;
}
.comment {
  border: 0.13rem solid rgb(223, 220, 220);
  border-radius: 0.4rem;
  padding: 1.3rem;
  margin-bottom: 1.3rem;
  box-shadow: 0rem 0rem 0.07rem 0rem;
}

.quantityForm {
  margin-top: 1.3rem;
}
.darkmode-layer,
.darkmode-toggle {
  z-index: 500;
  outline: none;
}

.darkmode--activated #nav-id {
  background-color: #d3d3d3 !important;
}
.orderForms {
  /*display:flex;*/
  align-items: center;
  justify-content: space-between;
}

.orderSelect {
  padding: 0.4rem;
}

.search-form {
  display: flex;
  width: 100%;
}

.search-btn, .filter-btn {
  margin-left: 0.7rem;
  font-weight: 800;
  border: 0rem;
  transition: all 1.5s;
}

.search-btn:hover, .filter-btn:hover, .compose-btn:hover {
  background-color: green;
}

.search-btn:hover span:after {
  opacity: 1;
  right: 0;
}

.compose-btn {
  background-color: #337ab7;
  transition: all 1.5s;
  border: 0rem;
  font-weight: 800;
}

.hEBnKS {
  z-index: 1;
  right: 1rem !important;
  bottom: 0rem !important;
  position: absolute !important;
  width: 3.8rem !important;
  height: 3.2rem !important;
  /* padding: 2.2rem; */
} 

/* Button Styling */
.button {
  display: inline-block;
  font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  position: relative;
  padding: 0.4em 1.4em;
  padding-right: 3.7em;
  background: #009ED8;
  border: none;
  color: white;
  transition: 0.2s;
}
.button:before,
.button:after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding-top: inherit;
  padding-bottom: inherit;
  width: 2.8em;
  content: "\00a0";
  font-family: 'FontAwesome', sans-serif;
  font-size: 1.2em;
  text-align: center;
  transition: 0.2s;
  transform-origin: 50% 60%;
}
.button:before {
  background: rgba(0, 0, 0, 0.1);
}
.button:hover {
  background: #0079a5;
}
.button:active,
.button:focus {
  background: #002e3f;
  outline: none;
}
.button {
  min-width: 15em;
}
.arrow {
  background: #139675;
}
.arrow:hover {
  background: #0d6952;
}
.arrow:active,
.arrow:focus {
  background: #083b2e;
}
.arrow:after {
  content: "\F054";
}
.arrow:hover:after {
  -webkit-animation: bounceright 0.3s alternate ease infinite;
  animation: bounceright 0.3s alternate ease infinite;
}
.del {
  background: #FE5F55;
}
.del:hover {
  background: #fe2f22;
}
.del:active,
.del:focus {
  background: #b90c01;
}
.del:after {
  content: "\F1F8";
}
.del:hover:after {
  -webkit-animation: wiggle 0.15s alternate ease infinite;
  animation: wiggle 0.15s alternate ease infinite;
}
.pen {
  background: #C673B3;
}
.pen:hover {
  background: #b74f9f;
}
.pen:active,
.pen:focus {
  background: #963d82;
}
.pen:after {
  content: "\F304";
}
.pen:hover:after {
  -webkit-animation: none;
  -webkit-transform: rotate(20deg);
  animation: none;
  transform: rotate(-45deg);
  text-indent: 0.1em;
}
.read {
  background: #f5d93f;
  color: #000000;
}
.read:hover {
  background: #dac23a;
}
.read:active,
.read:focus {
  background: #ddbc02;
}
.read:after {
  content: "\F4D5";
}
.read:hover:after {
  -webkit-animation: none;
  -webkit-transform: scale(1.4);
  animation: none;
  transform: scale(1.4);
}
.search:after {
  content: "\f002";
}
.search:hover:after {
  -webkit-animation: none;
  -webkit-transform: scale(1.4);
  animation: none;
  transform: scale(1.4);
}
.commenting {
  background: #ff7300;
}
.commenting:hover {
  background: #e46701;
}
.commenting:active,
.commenting:focus {
  background: #ff8928;
}
.commenting:after {
  content: "\F075";
}
.commenting:hover:after {
  -webkit-animation: none;
  -webkit-transform: rotate(360deg);
  animation: none;
  transform: rotate(360deg);
  text-indent: 0.1em;
}

.publish {
  background: #b028ff;
}
.publish:hover {
  background: #9201a5;
}
.publish:active,
.publish:focus {
  background: rgb(133, 3, 133);
}
.publish:after {
  content: "\F064";
}
.publish:hover:after {
  -webkit-animation: none;
  -webkit-transform: rotate(360deg);
  animation: none;
  transform: rotate(360deg);
  text-indent: 0.1em;
}
@-webkit-keyframes bounceright {
  from {
    -webkit-transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(0.2rem);
  }
}
@-webkit-keyframes wiggle {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(30deg);
  }
}
@keyframes bounceright {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(0.2rem);
  }
}
@keyframes wiggle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(30deg);
  }
}
/* body {
  background: #303036;
  text-align: center;
  text-rendering: auto;
  font-size: 1.07rem;
  line-height: 1.6em;
  height: 100vh;
  overflow: hidden;
  padding: 18%;
  padding-top: 25vh;
}
{
  box-sizing: border-box;
} */