/*font style: Quicksand*/

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap");

/*font style: Patua One*/

@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");

/*font style: Open Sans*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap");
:root {
  /*aesthetic theme*/
  --color-primary: #0d97ac;
  --color-secondary: #e2532f;
  --color-tertiary: #dda033;
  --color-side: #065125;
  --color-text: #e5e7eb;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  font-family: "Quicksand", sans-serif;
  opacity: 1;
  display: flex;
  flex-direction: column;
  background-image: url("../images/bg4.jpg");
  background-size: cover;
  color: var(--color-primary);
}

#loader {
  position: fixed;
  width: 100%;
  height: 90vh;
  z-index: 1;
  overflow: visible;
  background: var(--color-primary)
    url("https://i.pinimg.com/originals/34/cc/62/34cc62d1df1c8328f56ae7a7acf2e83a.gif")
    no-repeat center center;
}

.container-fluid {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.container-centre {
  margin: auto;
  max-width: 65vw;
}

/* styles for navbar */

.navbar {
  padding-top: 1vh;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  letter-spacing: 0.125rem;
  background-color: var(--color-text) !important;
  backdrop-filter: blur(10px);
}

.navbar-brand {
  font-size: 3.5vw;
  color: var(--color-secondary) !important;
}

.navbar-brand:hover {
  font-size: 3.5vw;
  color: var(--color-primary) !important;
}

.navbar-brand a {
  text-decoration: none;
  color: inherit;
}

.navbar-brand-bold {
  font-weight: 600;
}

.navbar-right {
  margin: 0;
  padding-top: 3vh;
}

.nav-link {
  font-weight: 600;
  font-size: 18px;
}

.navbar-right li a {
  color: var(--color-primary) !important;
  font-weight: bold;
  margin: 0.4rem 0.6rem 0.3rem 0.6rem;
  padding: 0.4rem 0.7rem 0.2rem 0.3rem;
}

.navbar-nav li a:hover {
  color: var(--color-secondary) !important;
}

/* navbar links */

.logout {
  margin-bottom: 3px;
  background-color: var(--color-primary);
}

.logout:hover {
  background-color: var(--color-text);
  border: solid 0.5px var(--color-secondary) !important;
  border-radius: 4px;
  color: var(--color-secondary);
}

/*navbar animation*/

.navbar-right a::before,
a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 0.3vh;
  bottom: -0.14vh;
  background: var(--color-text);
}

.navbar-right a::before {
  left: 0;
}

.navbar-right a::after {
  right: 0;
  background: var(--color-secondary);
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.navbar-right a:hover::before {
  background: var(--color-secondary);
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.navbar-right a:hover::after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

/* login page styles */

.log-in-btn {
  color: var(--color-text);
  background-color: var(--color-secondary);
  border: solid 1px var(--color-secondary);
}

.log-in-btn:hover {
  border: solid 1px var(--color-secondary);
  color: var(--color-secondary) !important;
  background-color: whitesmoke;
}

/* sign up page styles */

.sign-up-place {
  color: var(--color-secondary);
}

/* text styles */

.heading-bold {
  font-weight: bold;
}

.normal-heading-font {
  font-family: "Open Sans", sans-serif;
  margin-top: 3rem;
}

.heading {
  padding-top: 1.5rem;
}

.heading-centre {
  text-align: center;
  padding: 1rem;
}

.content-body-font {
  font-size: 1.3rem;
}

/* Home page styles */

.anynew,
.anylook {
  margin-top: 25px;
}

.posts-section {
  margin-top: 1.4vh;
  margin-bottom: 2.8vh;
}

.post-preview-font {
  font-size: 1rem;
}

.post-preview {
  background-color: rgba(229, 231, 235, 0.5);
  margin: 0.8rem;
  padding: 1.9rem;
  border-radius: 1rem;
}

.post-date-font {
  font-size: 1.1rem;
}

.post-margin {
  margin-bottom: 4.1vh;
}

/* Post page styles */

.post-heading {
  font-family: "Patua One", cursive;
  font-size: 3.4rem;
}

.comment {
  border: 0.13rem solid rgb(223, 220, 220);
  border-radius: 0.4rem;
  padding: 1.3rem;
  margin-bottom: 1.3rem;
  box-shadow: 0rem 0rem 0.07rem 0rem;
}

/* Input boxes and placeholder text styles */

.form-control {
  width: 100%;
  border: 2px solid var(--color-secondary);
  height: 50px;
  border-radius: 8px;
}

.form-control::-webkit-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 150%;
}

.form-control:-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 150%;
}

.form-control:-moz-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 150%;
}

.form-control::-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 150%;
}

.form-control::-moz-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 150%;
}

.quantityForm {
  margin-top: 1.3rem;
}

.darkmode-layer,
.darkmode-toggle {
  z-index: 500;
  outline: none;
}

.darkmode--activated #nav-id {
  background-color: var(--color-text) !important;
}

.orderForms {
  /*display:flex;*/
  align-items: center;
  justify-content: space-between;
}

.orderSelect {
  padding: 0.4rem;
  font-family: "Open Sans", sans-serif;
  font-size: 130%;
  border: 2px solid var(--color-primary);
  border-radius: 8px;
}

input[name="perPage"] {
  border: 2px solid var(--color-primary);
  border-radius: 8px;
  font-family: "Open Sans", sans-serif;
  font-size: 110%;
  text-align: center;
}

.search-form {
  display: flex;
  width: 100%;
}

.search-btn,
.filter-btn {
  margin-left: 0.7rem;
  font-weight: 800;
  border: 0rem;
  transition: all 1.5s;
  background-color: var(--color-secondary) !important;
}

.search-btn:hover,
.filter-btn:hover,
.compose-btn:hover {
  background-color: var(--color-primary);
}

.search-btn:hover span:after {
  opacity: 1;
  right: 0;
}

.compose-btn {
  background-color: var(--color-primary);
  transition: all 1.5s;
  border: 0rem;
  font-weight: 800;
}

.hEBnKS {
  z-index: 1;
  right: 1rem !important;
  bottom: 0rem !important;
  position: absolute !important;
  width: 3.8rem !important;
  height: 3.2rem !important;
}

/* Button Styles */

.button {
  display: inline-block;
  font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  position: relative;
  padding: 0.4em 1.4em;
  padding-right: 3.7em;
  background: var(--color-secondary);
  border: none;
  color: white;
  transition: 0.2s;
  border: 3px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:before,
.button:after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding-top: inherit;
  padding-bottom: inherit;
  width: 2.8em;
  content: "\00a0";
  font-family: "FontAwesome", sans-serif;
  font-size: 1.2em;
  text-align: center;
  transition: 0.2s;
  transform-origin: 50% 60%;
}

.button:before {
  background: rgba(0, 0, 0, 0.1);
}

.button:hover {
  background: #129fb4;
}

.button:active,
.button:focus {
  background: var(--color-primary);
  outline: none;
}

.button {
  min-width: 15em;
}

.arrow {
  background: var(--color-primary);
}

.arrow:hover {
  background: #e75d3b;
}

.arrow:active,
.arrow:focus {
  background: var(--color-secondary);
}

.arrow:after {
  content: "\F054";
}

.arrow:hover:after {
  -webkit-animation: bounceright 0.3s alternate ease infinite;
  animation: bounceright 0.3s alternate ease infinite;
}

.del {
  background: var(--color-secondary);
}

.del:hover {
  background: #eb390d;
}

.del:active,
.del:focus {
  background: var(--color-secondary);
}

.del:after {
  content: "\F1F8";
}

.del:hover:after {
  -webkit-animation: wiggle 0.15s alternate ease infinite;
  animation: wiggle 0.15s alternate ease infinite;
}

.pen {
  background: var(--color-primary);
}

.pen:hover {
  background: #e75d3b;
}

.pen:active,
.pen:focus {
  background: var(--color-secondary);
}

.pen:after {
  content: "\F304";
}

.pen:hover:after {
  -webkit-animation: none;
  -webkit-transform: rotate(20deg);
  animation: none;
  transform: rotate(-45deg);
  text-indent: 0.1em;
}

.read {
  background: var(--color-secondary);
  color: var(--color-text);
}

.read:hover {
  background: #129fb4;
}

.read:active,
.read:focus {
  background: var(--color-primary);
}

.read:after {
  content: "\F4D5";
}

.read:hover:after {
  -webkit-animation: none;
  -webkit-transform: scale(1.4);
  animation: none;
  transform: scale(1.4);
}

.search:after {
  content: "\f002";
}

.search:hover:after {
  -webkit-animation: none;
  -webkit-transform: scale(1.4);
  animation: none;
  transform: scale(1.4);
}

.commenting {
  background: var(--color-primary);
}

.commenting:hover {
  background: #129fb4;
}

.commenting:active,
.commenting:focus {
  background: var(--color-primary);
}

.commenting:after {
  content: "\F075";
}

.commenting:hover:after {
  -webkit-animation: none;
  -webkit-transform: rotate(360deg);
  animation: none;
  transform: rotate(360deg);
  text-indent: 0.1em;
}

.publish {
  background: var(--color-secondary);
}

.publish:hover {
  background: var(--color-primary);
}

.publish:active,
.publish:focus {
  background: var(--color-primary);
}

.publish:after {
  content: "\F064";
}

.publish:hover:after {
  -webkit-animation: none;
  -webkit-transform: rotate(360deg);
  animation: none;
  transform: rotate(360deg);
  text-indent: 0.1em;
}

/* footer styles */

.footer-class {
  background-color: var(--color-text);
  color: var(--color-primary) !important;
}

.footer-txt {
  color: var(--color-secondary);
}
