<%- include("../partials/header", {isAuthenticated}) -%>
<div class="container content-body-font">
    <div class="col-12">
        <h1 class="heading-centre heading-bold normal-heading-font"><%= category %> </h1>
    </div>
    <div class="my-3">
        <%# Check if there are posts for requested categories... %> 
        <%if (posts.length) { %>
            <%# If there are posts(length>=1) then display them through looping %> 
            <%- include("../partials/posts", {posts}) -%>
            <%# If there are no posts(length=0) then display no blogs found %> 
        <% } else { %>
                <p class="mx-auto text-danger">No Blogs Found...</p> 
        <%}%>
    </div>
</div>
<%- include("../partials/footer") -%>